<div>
  <p class="developer"> {{ developer  }} </p>
  <hr>

  <div class="description">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis fuga quaerat laborum debitis? Officia quas sapiente cupiditate a sed omnis delectus, officiis laboriosam pariatur. Ducimus, commodi sapiente, id doloremque fugit, magni debitis perferendis architecto dolores ea perspiciatis quibusdam minus possimus tempora esse enim harum officia similique saepe fuga accusantium at. Quibusdam rerum numquam iure quam minima a, nostrum laudantium reprehenderit aut sapiente adipisci nobis ducimus labore assumenda molestiae inventore quidem esse? Beatae corrupti inventore totam consequatur, facilis harum praesentium, illo natus nobis sapiente reprehenderit nisi! Ut nemo earum adipisci delectus, dolorum soluta, sint harum repellendus quam quos nihil magni nisi.</p>
  </div>

  <div class="skills">

    <h2>Lenguajes</h2>

    <div class="grid-languages">
      <div>
        <p>Javascript</p>
        <img src="./assets/js-icono.png" alt="java">
      </div>

      <div>
        <p>Typescript</p>
        <img src="./assets/ts-icono.png" alt="java">
      </div>

      <div>
        <p>Java</p>
        <img src="./assets/java-icono.png" alt="java">
      </div>

      <div>
        <p>Php</p>
        <img src="./assets/php.png" alt="java">
      </div>
      
    </div>

    <h2>Frameworks</h2>

    <div class="grid-frameworks">
      <div>
        <p>Angular</p>
        <img class="icon-framework" src="./assets/angular.png" alt="java">
      </div>

      <div>
        <p>React</p>
        <img class="icon-framework" src="./assets/react.png" alt="java">
      </div>

      <div>
        <p>Laravel</p>
        <img class="icon-framework" src="./assets/laravel.png" alt="java">
      </div>
      
    </div>

  </div>

</div>