<nav class="navbar">
  <ul class="menu-navigation">
    <li class="menu-item"><a class="menu-link" [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
    <li class="menu-item"><a class="menu-link" [routerLink]="['/create']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
    <li class="menu-item"><h2>JM</h2></li>
    <li class="menu-item"><a class="menu-link" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li class="menu-item"><a class="menu-link" [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</nav>